Bsdiff_Demo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Bsdiff_Demo.xcodeproj/project.xcworkspace/xcuserdata/jacklee.xcuserdatad/UserInterfaceState.xcuserstate
Bsdiff_Demo.xcodeproj/xcuserdata/jacklee.xcuserdatad/xcschemes/xcschememanagement.plist